server {
    listen 80;
    listen [::]:80;
    server_name {{ var_dp_fqdn }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ var_dp_fqdn }};

    ssl_certificate {{ var_dp_ssl_certificate }};
    ssl_certificate_key {{ var_dp_ssl_certificate_key }};

    location ~ ^/git/([^/]+)\.git(/.*)$ {
        {% raw %}
        set $clean_path_info /$1$2;
        {% endraw %}
        try_files _ @git_backend;
    }

    location ~ ^/git(/.*)$ {
        {% raw %}
        set $clean_path_info $1;
        {% endraw %}
        try_files _ @git_backend;
    }

    location @git_backend {
        gzip off;
        fastcgi_pass unix:{{ var_dp_fcgi_socket }};
        fastcgi_param SCRIPT_FILENAME /usr/lib/git-core/git-http-backend;
        fastcgi_param GIT_HTTP_EXPORT_ALL "1";
        fastcgi_param GIT_PROJECT_ROOT {{ var_dp_git_root }};
        fastcgi_param PATH_INFO $clean_path_info;
        fastcgi_param REMOTE_USER $remote_user;
        include fastcgi_params;
    }
}

